In [257]:
# Required packages
import pandas as pd
import numpy as np
import string
import re
import pickle
import random

In [2]:
# Import functions
from data_processing import *

### Load data

In [229]:
info = pd.read_csv('info.csv', index_col=0)
info.drop('Ingredients', axis=1, inplace=True) # Drop ingredients since we will use the ´Cleaned_Ingredients´ strings

In [230]:
info.head()

,Title,Instructions,Image_Name,Cleaned_Ingredients
0,Miso-Butter Roast Chicken With Acorn Squash Pa...,"Pat chicken dry with paper towels, season all ...",miso-butter-roast-chicken-acorn-squash-panzanella,"['1 (3½–4-lb.) whole chicken', '2¾ tsp. kosher..."
1,Crispy Salt and Pepper Potatoes,Preheat oven to 400°F and line a rimmed baking...,crispy-salt-and-pepper-potatoes-dan-kluger,"['2 large egg whites', '1 pound new potatoes (..."
2,Thanksgiving Mac and Cheese,Place a rack in middle of oven; preheat to 400...,thanksgiving-mac-and-cheese-erick-williams,"['1 cup evaporated milk', '1 cup whole milk', ..."
3,Italian Sausage and Bread Stuffing,Preheat oven to 350°F with rack in middle. Gen...,italian-sausage-and-bread-stuffing-240559,"['1 (¾- to 1-pound) round Italian loaf, cut in..."
4,Newton's Law,Stir together brown sugar and hot water in a c...,newtons-law-apple-bourbon-cocktail,"['1 teaspoon dark brown sugar', '1 teaspoon ho..."

In [231]:
info.describe()

,Title,Instructions,Image_Name,Cleaned_Ingredients
count,13496,13493,13501,13501
unique,13305,13464,13472,13473
top,Potato Latkes,Place ingredients in blender in the order list...,#NAME?,['']
freq,5,5,30,12

### Standardization

##### Drop NaNs

In [232]:
info.dropna(inplace=True)

In [233]:
info.describe() # We can see null image names are called ´#NAME?´ and null ingredients ´''´

,Title,Instructions,Image_Name,Cleaned_Ingredients
count,13493,13493,13493,13493
unique,13302,13464,13464,13471
top,Potato Latkes,Place ingredients in blender in the order list...,#NAME?,['']
freq,5,5,30,6

In [234]:
info = info[info['Image_Name'] != '#NAME?'] # Drop null image names
info = info[info['Cleaned_Ingredients'].apply(lambda x: ' ' in x)]# Drop null ingredients

In [235]:
info.describe()

,Title,Instructions,Image_Name,Cleaned_Ingredients
count,13457,13457,13457,13457
unique,13267,13428,13457,13440
top,Potato Latkes,Place ingredients in blender in the order list...,miso-butter-roast-chicken-acorn-squash-panzanella,"['1 cube or 1/2 teaspoon sugar', '4 dashes Pey..."
freq,5,5,1,4

##### Drop duplicates

In [236]:
info.drop_duplicates(subset='Title', inplace=True) # Keep first occurrence
info.drop_duplicates(subset='Instructions', inplace=True) # Keep first occurrence
info.drop_duplicates(subset='Cleaned_Ingredients', inplace=True) # Keep first occurrence

In [237]:
info.describe()

,Title,Instructions,Image_Name,Cleaned_Ingredients
count,13250,13250,13250,13250
unique,13250,13250,13250,13250
top,Miso-Butter Roast Chicken With Acorn Squash Pa...,"Pat chicken dry with paper towels, season all ...",miso-butter-roast-chicken-acorn-squash-panzanella,"['1 (3½–4-lb.) whole chicken', '2¾ tsp. kosher..."
freq,1,1,1,1

##### Drop titles with strange characters

In [238]:
# Define expected characters
good_letters = list(string.ascii_letters + string.digits + ' ' + '!"#%&\'(),-.:?¿')

chars = set() 

for sentence in info['Title']:
    for char in sentence:
        chars.add(char) # Add to the set of unique characters

bad_letters = [char for char in chars if char not in good_letters] # Select the strange characters
very_bad_letters = [re.escape(char) for char in bad_letters] # Ensure they are treated as characters and not as operands

In [239]:
# Drop titles containing strange characters
nasty_letters = '|'.join(very_bad_letters)
info = info[info['Title'].str.contains(nasty_letters) == False]

In [240]:
info.describe()

,Title,Instructions,Image_Name,Cleaned_Ingredients
count,12520,12520,12520,12520
unique,12520,12520,12520,12520
top,Miso-Butter Roast Chicken With Acorn Squash Pa...,"Pat chicken dry with paper towels, season all ...",miso-butter-roast-chicken-acorn-squash-panzanella,"['1 (3½–4-lb.) whole chicken', '2¾ tsp. kosher..."
freq,1,1,1,1

We have gone from around 13500 original rows to 12520 filtered rows.

### Statistical analysis

#### Images analysis

In [241]:
# Analyze the dimensions of images
folder = 'Food Images'

look_images(info, folder) # We will resize images to 274x169

Processing Images: 100%|██████████| 12520/12520 [00:02<00:00, 5837.75it/s]

Width Stats:
  Max: 702, Min: 274, Mean: 274.03, Standard Deviation: 3.82
Height Stats:
  Max: 722, Min: 169, Mean: 169.04, Standard Deviation: 4.94

#### Titles analysis

In [242]:
# Analyze strings
lengths = info['Title'].str.len()
print("Title lengths:")
print(f"Longest title: {max(lengths)} characters.")
print(f"Shortest title: {min(lengths)} characters.")
print(f"Mean title length: {round(np.mean(lengths),2)} characters.")
print(f"Standard Deviation of title lengths: {round(np.std(lengths),2)} characters.")

Title lengths:
Longest title: 112 characters.
Shortest title: 3 characters.
Mean title length: 32.72 characters.
Standard Deviation of title lengths: 14.52 characters.

In [243]:
# Analyze characters
look_char(info, 'Title')

Unique characters: 74
 !"#%&'(),-.012345679:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz

Character: SPACE
Appearances: 12349

Character: EXCLAMATION MARK
Appearances: 1

Character: QUOTATION MARK
Appearances: 99

Character: NUMBER SIGN
Appearances: 1

Character: PERCENT SIGN
Appearances: 1

Character: AMPERSAND
Appearances: 75

Character: APOSTROPHE
Appearances: 312

Character: LEFT PARENTHESIS
Appearances: 253

Character: RIGHT PARENTHESIS
Appearances: 253

Character: COMMA
Appearances: 962

Character: HYPHEN-MINUS
Appearances: 2995

Character: FULL STOP
Appearances: 24

Character: DIGIT ZERO
Appearances: 9

Character: DIGIT ONE
Appearances: 16

Character: DIGIT TWO
Appearances: 15

Character: DIGIT THREE
Appearances: 76

Character: DIGIT FOUR
Appearances: 6

Character: DIGIT FIVE
Appearances: 17

Character: DIGIT SIX
Appearances: 2

Character: DIGIT SEVEN
Appearances: 6

Character: DIGIT NINE
Appearances: 1

Character: COLON
Appearances: 13

Character: LATIN CAPITAL LETTER A
Appearances: 1489

Character: LATIN CAPITAL LETTER B
Appearances: 4071

Character: LATIN CAPITAL LETTER C
Appearances: 6559

Character: LATIN CAPITAL LETTER D
Appearances: 1067

Character: LATIN CAPITAL LETTER E
Appearances: 675

Character: LATIN CAPITAL LETTER F
Appearances: 1989

Character: LATIN CAPITAL LETTER G
Appearances: 2576

Character: LATIN CAPITAL LETTER H
Appearances: 1252

Character: LATIN CAPITAL LETTER I
Appearances: 519

Character: LATIN CAPITAL LETTER J
Appearances: 253

Character: LATIN CAPITAL LETTER K
Appearances: 375

Character: LATIN CAPITAL LETTER L
Appearances: 1520

Character: LATIN CAPITAL LETTER M
Appearances: 2360

Character: LATIN CAPITAL LETTER N
Appearances: 468

Character: LATIN CAPITAL LETTER O
Appearances: 1081

Character: LATIN CAPITAL LETTER P
Appearances: 4484

Character: LATIN CAPITAL LETTER Q
Appearances: 196

Character: LATIN CAPITAL LETTER R
Appearances: 2555

Character: LATIN CAPITAL LETTER S
Appearances: 6323

Character: LATIN CAPITAL LETTER T
Appearances: 2533

Character: LATIN CAPITAL LETTER U
Appearances: 94

Character: LATIN CAPITAL LETTER V
Appearances: 750

Character: LATIN CAPITAL LETTER W
Appearances: 1458

Character: LATIN CAPITAL LETTER X
Appearances: 4

Character: LATIN CAPITAL LETTER Y
Appearances: 289

Character: LATIN CAPITAL LETTER Z
Appearances: 160

Character: LATIN SMALL LETTER A
Appearances: 11414

Character: LATIN SMALL LETTER B
Appearances: 2806

Character: LATIN SMALL LETTER C
Appearances: 6811

Character: LATIN SMALL LETTER D
Appearances: 8291

Character: LATIN SMALL LETTER E
Appearances: 11718

Character: LATIN SMALL LETTER F
Appearances: 1486

Character: LATIN SMALL LETTER G
Appearances: 3905

Character: LATIN SMALL LETTER H
Appearances: 8425

Character: LATIN SMALL LETTER I
Appearances: 10581

Character: LATIN SMALL LETTER J
Appearances: 112

Character: LATIN SMALL LETTER K
Appearances: 4563

Character: LATIN SMALL LETTER L
Appearances: 8435

Character: LATIN SMALL LETTER M
Appearances: 5302

Character: LATIN SMALL LETTER N
Appearances: 9793

Character: LATIN SMALL LETTER O
Appearances: 9614

Character: LATIN SMALL LETTER P
Appearances: 4350

Character: LATIN SMALL LETTER Q
Appearances: 334

Character: LATIN SMALL LETTER R
Appearances: 10195

Character: LATIN SMALL LETTER S
Appearances: 9041

Character: LATIN SMALL LETTER T
Appearances: 9798

Character: LATIN SMALL LETTER U
Appearances: 6910

Character: LATIN SMALL LETTER V
Appearances: 1037

Character: LATIN SMALL LETTER W
Appearances: 5492

Character: LATIN SMALL LETTER X
Appearances: 219

Character: LATIN SMALL LETTER Y
Appearances: 3372

Character: LATIN SMALL LETTER Z
Appearances: 925

#### Ingredients analysis

In [244]:
# Analyze strings
lengths = info['Cleaned_Ingredients'].str.len()
print("Ingredients lengths:")
print(f"Longest ingredient list: {max(lengths)} characters.")
print(f"Shortest ingredient list: {min(lengths)} characters.")
print(f"Mean ingredient list length: {round(np.mean(lengths),2)} characters.")
print(f"Standard Deviation of ingredient list lengths: {round(np.std(lengths),2)} characters.")

Ingredients lengths:
Longest ingredient list: 2379 characters.
Shortest ingredient list: 11 characters.
Mean ingredient list length: 419.86 characters.
Standard Deviation of ingredient list lengths: 201.77 characters.

In [245]:
# Analyze characters
look_char(info, 'Cleaned_Ingredients')

Unique characters: 142
 !"#%&'()*+,-./0123456789:;<=>@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]_abcdefghijklmnopqrstuvwxyz{|}®°¼½¾¿ÁÉ×àáâäåçèéêëìíîïñóôùúûüź́‐‑–—’‚“”•″⁄⅓⅔⅛⅜⅞ﬀﬁﬂ�

Character: SPACE
Appearances: 12520

Character: EXCLAMATION MARK
Appearances: 9

Character: QUOTATION MARK
Appearances: 1768

Character: NUMBER SIGN
Appearances: 9

Character: PERCENT SIGN
Appearances: 260

Character: AMPERSAND
Appearances: 28

Character: APOSTROPHE
Appearances: 12520

Character: LEFT PARENTHESIS
Appearances: 9997

Character: RIGHT PARENTHESIS
Appearances: 9995

Character: ASTERISK
Appearances: 621

Character: PLUS SIGN
Appearances: 9

Character: COMMA
Appearances: 12501

Character: HYPHEN-MINUS
Appearances: 9496

Character: FULL STOP
Appearances: 1772

Character: SOLIDUS
Appearances: 11330

Character: DIGIT ZERO
Appearances: 2265

Character: DIGIT ONE
Appearances: 12327

Character: DIGIT TWO
Appearances: 12103

Character: DIGIT THREE
Appearances: 9103

Character: DIGIT FOUR
Appearances: 10368

Character: DIGIT FIVE
Appearances: 3208

Character: DIGIT SIX
Appearances: 4279

Character: DIGIT SEVEN
Appearances: 1196

Character: DIGIT EIGHT
Appearances: 3898

Character: DIGIT NINE
Appearances: 811

Character: COLON
Appearances: 1081

Character: SEMICOLON
Appearances: 1424

Character: LESS-THAN SIGN
Appearances: 25

Character: EQUALS SIGN
Appearances: 5

Character: GREATER-THAN SIGN
Appearances: 28

Character: COMMERCIAL AT
Appearances: 1

Character: LATIN CAPITAL LETTER A
Appearances: 2045

Character: LATIN CAPITAL LETTER B
Appearances: 1118

Character: LATIN CAPITAL LETTER C
Appearances: 2366

Character: LATIN CAPITAL LETTER D
Appearances: 1026

Character: LATIN CAPITAL LETTER E
Appearances: 809

Character: LATIN CAPITAL LETTER F
Appearances: 1961

Character: LATIN CAPITAL LETTER G
Appearances: 1670

Character: LATIN CAPITAL LETTER H
Appearances: 518

Character: LATIN CAPITAL LETTER I
Appearances: 1142

Character: LATIN CAPITAL LETTER J
Appearances: 609

Character: LATIN CAPITAL LETTER K
Appearances: 2109

Character: LATIN CAPITAL LETTER L
Appearances: 856

Character: LATIN CAPITAL LETTER M
Appearances: 1256

Character: LATIN CAPITAL LETTER N
Appearances: 755

Character: LATIN CAPITAL LETTER O
Appearances: 589

Character: LATIN CAPITAL LETTER P
Appearances: 2479

Character: LATIN CAPITAL LETTER Q
Appearances: 32

Character: LATIN CAPITAL LETTER R
Appearances: 758

Character: LATIN CAPITAL LETTER S
Appearances: 2541

Character: LATIN CAPITAL LETTER T
Appearances: 1769

Character: LATIN CAPITAL LETTER U
Appearances: 112

Character: LATIN CAPITAL LETTER V
Appearances: 664

Character: LATIN CAPITAL LETTER W
Appearances: 447

Character: LATIN CAPITAL LETTER X
Appearances: 10

Character: LATIN CAPITAL LETTER Y
Appearances: 305

Character: LATIN CAPITAL LETTER Z
Appearances: 143

Character: LEFT SQUARE BRACKET
Appearances: 12520

Character: REVERSE SOLIDUS
Appearances: 13

Character: RIGHT SQUARE BRACKET
Appearances: 12520

Character: LOW LINE
Appearances: 1

Character: LATIN SMALL LETTER A
Appearances: 12512

Character: LATIN SMALL LETTER B
Appearances: 12229

Character: LATIN SMALL LETTER C
Appearances: 12484

Character: LATIN SMALL LETTER D
Appearances: 12369

Character: LATIN SMALL LETTER E
Appearances: 12518

Character: LATIN SMALL LETTER F
Appearances: 11703

Character: LATIN SMALL LETTER G
Appearances: 12269

Character: LATIN SMALL LETTER H
Appearances: 12326

Character: LATIN SMALL LETTER I
Appearances: 12489

Character: LATIN SMALL LETTER J
Appearances: 4723

Character: LATIN SMALL LETTER K
Appearances: 11181

Character: LATIN SMALL LETTER L
Appearances: 12487

Character: LATIN SMALL LETTER M
Appearances: 12153

Character: LATIN SMALL LETTER N
Appearances: 12499

Character: LATIN SMALL LETTER O
Appearances: 12502

Character: LATIN SMALL LETTER P
Appearances: 12461

Character: LATIN SMALL LETTER Q
Appearances: 2643

Character: LATIN SMALL LETTER R
Appearances: 12512

Character: LATIN SMALL LETTER S
Appearances: 12516

Character: LATIN SMALL LETTER T
Appearances: 12484

Character: LATIN SMALL LETTER U
Appearances: 12485

Character: LATIN SMALL LETTER V
Appearances: 11008

Character: LATIN SMALL LETTER W
Appearances: 10566

Character: LATIN SMALL LETTER X
Appearances: 4508

Character: LATIN SMALL LETTER Y
Appearances: 11267

Character: LATIN SMALL LETTER Z
Appearances: 4295

Character: LEFT CURLY BRACKET
Appearances: 2

Character: VERTICAL LINE
Appearances: 2

Character: RIGHT CURLY BRACKET
Appearances: 2

Character: REGISTERED SIGN
Appearances: 8

Character: DEGREE SIGN
Appearances: 92

Character: VULGAR FRACTION ONE QUARTER
Appearances: 240

Character: VULGAR FRACTION ONE HALF
Appearances: 368

Character: VULGAR FRACTION THREE QUARTERS
Appearances: 139

Character: INVERTED QUESTION MARK
Appearances: 1

Character: LATIN CAPITAL LETTER A WITH ACUTE
Appearances: 2

Character: LATIN CAPITAL LETTER E WITH ACUTE
Appearances: 1

Character: MULTIPLICATION SIGN
Appearances: 3

Character: LATIN SMALL LETTER A WITH GRAVE
Appearances: 1

Character: LATIN SMALL LETTER A WITH ACUTE
Appearances: 89

Character: LATIN SMALL LETTER A WITH CIRCUMFLEX
Appearances: 18

Character: LATIN SMALL LETTER A WITH DIAERESIS
Appearances: 5

Character: LATIN SMALL LETTER A WITH RING ABOVE
Appearances: 1

Character: LATIN SMALL LETTER C WITH CEDILLA
Appearances: 48

Character: LATIN SMALL LETTER E WITH GRAVE
Appearances: 288

Character: LATIN SMALL LETTER E WITH ACUTE
Appearances: 205

Character: LATIN SMALL LETTER E WITH CIRCUMFLEX
Appearances: 3

Character: LATIN SMALL LETTER E WITH DIAERESIS
Appearances: 1

Character: LATIN SMALL LETTER I WITH GRAVE
Appearances: 2

Character: LATIN SMALL LETTER I WITH ACUTE
Appearances: 19

Character: LATIN SMALL LETTER I WITH CIRCUMFLEX
Appearances: 167

Character: LATIN SMALL LETTER I WITH DIAERESIS
Appearances: 2

Character: LATIN SMALL LETTER N WITH TILDE
Appearances: 393

Character: LATIN SMALL LETTER O WITH ACUTE
Appearances: 45

Character: LATIN SMALL LETTER O WITH CIRCUMFLEX
Appearances: 7

Character: LATIN SMALL LETTER U WITH GRAVE
Appearances: 1

Character: LATIN SMALL LETTER U WITH ACUTE
Appearances: 13

Character: LATIN SMALL LETTER U WITH CIRCUMFLEX
Appearances: 5

Character: LATIN SMALL LETTER U WITH DIAERESIS
Appearances: 6

Character: LATIN SMALL LETTER Z WITH ACUTE
Appearances: 1

Character: COMBINING ACUTE ACCENT
Appearances: 4

Character: HYPHEN
Appearances: 1

Character: NON-BREAKING HYPHEN
Appearances: 1

Character: EN DASH
Appearances: 454

Character: EM DASH
Appearances: 26

Character: RIGHT SINGLE QUOTATION MARK
Appearances: 98

Character: SINGLE LOW-9 QUOTATION MARK
Appearances: 1

Character: LEFT DOUBLE QUOTATION MARK
Appearances: 2

Character: RIGHT DOUBLE QUOTATION MARK
Appearances: 10

Character: BULLET
Appearances: 2

Character: DOUBLE PRIME
Appearances: 1

Character: FRACTION SLASH
Appearances: 38

Character: VULGAR FRACTION ONE THIRD
Appearances: 63

Character: VULGAR FRACTION TWO THIRDS
Appearances: 17

Character: VULGAR FRACTION ONE EIGHTH
Appearances: 7

Character: VULGAR FRACTION THREE EIGHTHS
Appearances: 1

Character: VULGAR FRACTION SEVEN EIGHTHS
Appearances: 1

Character: LATIN SMALL LIGATURE FF
Appearances: 1

Character: LATIN SMALL LIGATURE FI
Appearances: 5

Character: LATIN SMALL LIGATURE FL
Appearances: 4

Character: REPLACEMENT CHARACTER
Appearances: 1

#### Instructions analysis

In [246]:
# Analyze strings
lengths = info['Instructions'].str.len()
print("Instructions lengths:")
print(f"Longest instructions: {max(lengths)} characters.")
print(f"Shortest instructions: {min(lengths)} characters.")
print(f"Mean instructions length: {round(np.mean(lengths),2)} characters.")
print(f"Standard Deviation of instructions lengths: {round(np.std(lengths),2)} characters.")

Instructions lengths:
Longest instructions: 12915 characters.
Shortest instructions: 40 characters.
Mean instructions length: 1037.14 characters.
Standard Deviation of instructions lengths: 699.28 characters.

In [247]:
# Analyze characters
look_char(info, 'Instructions')

Unique characters: 170

 !"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]_abcdefghijklmnopqrstuvwxyz{|}¡§¬­®°³´¹º»¼½¾¿ÁÉÑ×àáâäåçèéêëìíîïñóôõöùúûüÿˆ˚́̊​‐‑–—‘’‚“”‟•…″⁄⅓⅔⅛⅜−◊ﬀﬁﬂ�

Character: <control>
Appearances: 11057

Character: SPACE
Appearances: 12520

Character: EXCLAMATION MARK
Appearances: 189

Character: QUOTATION MARK
Appearances: 1482

Character: NUMBER SIGN
Appearances: 14

Character: DOLLAR SIGN
Appearances: 57

Character: PERCENT SIGN
Appearances: 14

Character: AMPERSAND
Appearances: 35

Character: APOSTROPHE
Appearances: 1288

Character: LEFT PARENTHESIS
Appearances: 6467

Character: RIGHT PARENTHESIS
Appearances: 6467

Character: ASTERISK
Appearances: 317

Character: PLUS SIGN
Appearances: 12

Character: COMMA
Appearances: 12318

Character: HYPHEN-MINUS
Appearances: 9337

Character: FULL STOP
Appearances: 12511

Character: SOLIDUS
Appearances: 7067

Character: DIGIT ZERO
Appearances: 8594

Character: DIGIT ONE
Appearances: 11030

Character: DIGIT TWO
Appearances: 10408

Character: DIGIT THREE
Appearances: 9023

Character: DIGIT FOUR
Appearances: 8265

Character: DIGIT FIVE
Appearances: 8723

Character: DIGIT SIX
Appearances: 3712

Character: DIGIT SEVEN
Appearances: 2422

Character: DIGIT EIGHT
Appearances: 4065

Character: DIGIT NINE
Appearances: 1418

Character: COLON
Appearances: 2159

Character: SEMICOLON
Appearances: 6719

Character: LESS-THAN SIGN
Appearances: 15

Character: EQUALS SIGN
Appearances: 4

Character: GREATER-THAN SIGN
Appearances: 16

Character: QUESTION MARK
Appearances: 32

Character: COMMERCIAL AT
Appearances: 1

Character: LATIN CAPITAL LETTER A
Appearances: 8957

Character: LATIN CAPITAL LETTER B
Appearances: 6445

Character: LATIN CAPITAL LETTER C
Appearances: 9085

Character: LATIN CAPITAL LETTER D
Appearances: 6355

Character: LATIN CAPITAL LETTER E
Appearances: 1724

Character: LATIN CAPITAL LETTER F
Appearances: 6780

Character: LATIN CAPITAL LETTER G
Appearances: 3129

Character: LATIN CAPITAL LETTER H
Appearances: 4841

Character: LATIN CAPITAL LETTER I
Appearances: 3912

Character: LATIN CAPITAL LETTER J
Appearances: 373

Character: LATIN CAPITAL LETTER K
Appearances: 937

Character: LATIN CAPITAL LETTER L
Appearances: 5115

Character: LATIN CAPITAL LETTER M
Appearances: 5135

Character: LATIN CAPITAL LETTER N
Appearances: 356

Character: LATIN CAPITAL LETTER O
Appearances: 2405

Character: LATIN CAPITAL LETTER P
Appearances: 9146

Character: LATIN CAPITAL LETTER Q
Appearances: 155

Character: LATIN CAPITAL LETTER R
Appearances: 7119

Character: LATIN CAPITAL LETTER S
Appearances: 10541

Character: LATIN CAPITAL LETTER T
Appearances: 8849

Character: LATIN CAPITAL LETTER U
Appearances: 3140

Character: LATIN CAPITAL LETTER V
Appearances: 294

Character: LATIN CAPITAL LETTER W
Appearances: 5481

Character: LATIN CAPITAL LETTER X
Appearances: 65

Character: LATIN CAPITAL LETTER Y
Appearances: 563

Character: LATIN CAPITAL LETTER Z
Appearances: 39

Character: LEFT SQUARE BRACKET
Appearances: 15

Character: REVERSE SOLIDUS
Appearances: 1

Character: RIGHT SQUARE BRACKET
Appearances: 15

Character: LOW LINE
Appearances: 6

Character: LATIN SMALL LETTER A
Appearances: 12520

Character: LATIN SMALL LETTER B
Appearances: 12442

Character: LATIN SMALL LETTER C
Appearances: 12490

Character: LATIN SMALL LETTER D
Appearances: 12518

Character: LATIN SMALL LETTER E
Appearances: 12520

Character: LATIN SMALL LETTER F
Appearances: 12223

Character: LATIN SMALL LETTER G
Appearances: 12492

Character: LATIN SMALL LETTER H
Appearances: 12511

Character: LATIN SMALL LETTER I
Appearances: 12519

Character: LATIN SMALL LETTER J
Appearances: 7096

Character: LATIN SMALL LETTER K
Appearances: 12083

Character: LATIN SMALL LETTER L
Appearances: 12518

Character: LATIN SMALL LETTER M
Appearances: 12478

Character: LATIN SMALL LETTER N
Appearances: 12520

Character: LATIN SMALL LETTER O
Appearances: 12518

Character: LATIN SMALL LETTER P
Appearances: 12415

Character: LATIN SMALL LETTER Q
Appearances: 5374

Character: LATIN SMALL LETTER R
Appearances: 12520

Character: LATIN SMALL LETTER S
Appearances: 12518

Character: LATIN SMALL LETTER T
Appearances: 12519

Character: LATIN SMALL LETTER U
Appearances: 12482

Character: LATIN SMALL LETTER V
Appearances: 12270

Character: LATIN SMALL LETTER W
Appearances: 12443

Character: LATIN SMALL LETTER X
Appearances: 8162

Character: LATIN SMALL LETTER Y
Appearances: 12011

Character: LATIN SMALL LETTER Z
Appearances: 5855

Character: LEFT CURLY BRACKET
Appearances: 3

Character: VERTICAL LINE
Appearances: 2

Character: RIGHT CURLY BRACKET
Appearances: 3

Character: <control>
Appearances: 7

Character: <control>
Appearances: 3

Character: <control>
Appearances: 1

Character: <control>
Appearances: 1

Character: <control>
Appearances: 1

Character: INVERTED EXCLAMATION MARK
Appearances: 1

Character: SECTION SIGN
Appearances: 1

Character: NOT SIGN
Appearances: 4

Character: SOFT HYPHEN
Appearances: 5

Character: REGISTERED SIGN
Appearances: 3

Character: DEGREE SIGN
Appearances: 5518

Character: SUPERSCRIPT THREE
Appearances: 1

Character: ACUTE ACCENT
Appearances: 1

Character: SUPERSCRIPT ONE
Appearances: 1

Character: MASCULINE ORDINAL INDICATOR
Appearances: 61

Character: RIGHT-POINTING DOUBLE ANGLE QUOTATION MARK
Appearances: 3

Character: VULGAR FRACTION ONE QUARTER
Appearances: 125

Character: VULGAR FRACTION ONE HALF
Appearances: 180

Character: VULGAR FRACTION THREE QUARTERS
Appearances: 42

Character: INVERTED QUESTION MARK
Appearances: 3

Character: LATIN CAPITAL LETTER A WITH ACUTE
Appearances: 1

Character: LATIN CAPITAL LETTER E WITH ACUTE
Appearances: 3

Character: LATIN CAPITAL LETTER N WITH TILDE
Appearances: 1

Character: MULTIPLICATION SIGN
Appearances: 14

Character: LATIN SMALL LETTER A WITH GRAVE
Appearances: 5

Character: LATIN SMALL LETTER A WITH ACUTE
Appearances: 26

Character: LATIN SMALL LETTER A WITH CIRCUMFLEX
Appearances: 18

Character: LATIN SMALL LETTER A WITH DIAERESIS
Appearances: 3

Character: LATIN SMALL LETTER A WITH RING ABOVE
Appearances: 1

Character: LATIN SMALL LETTER C WITH CEDILLA
Appearances: 9

Character: LATIN SMALL LETTER E WITH GRAVE
Appearances: 208

Character: LATIN SMALL LETTER E WITH ACUTE
Appearances: 2028

Character: LATIN SMALL LETTER E WITH CIRCUMFLEX
Appearances: 6

Character: LATIN SMALL LETTER E WITH DIAERESIS
Appearances: 1

Character: LATIN SMALL LETTER I WITH GRAVE
Appearances: 1

Character: LATIN SMALL LETTER I WITH ACUTE
Appearances: 7

Character: LATIN SMALL LETTER I WITH CIRCUMFLEX
Appearances: 145

Character: LATIN SMALL LETTER I WITH DIAERESIS
Appearances: 2

Character: LATIN SMALL LETTER N WITH TILDE
Appearances: 241

Character: LATIN SMALL LETTER O WITH ACUTE
Appearances: 20

Character: LATIN SMALL LETTER O WITH CIRCUMFLEX
Appearances: 1

Character: LATIN SMALL LETTER O WITH TILDE
Appearances: 1

Character: LATIN SMALL LETTER O WITH DIAERESIS
Appearances: 1

Character: LATIN SMALL LETTER U WITH GRAVE
Appearances: 4

Character: LATIN SMALL LETTER U WITH ACUTE
Appearances: 5

Character: LATIN SMALL LETTER U WITH CIRCUMFLEX
Appearances: 4

Character: LATIN SMALL LETTER U WITH DIAERESIS
Appearances: 9

Character: LATIN SMALL LETTER Y WITH DIAERESIS
Appearances: 1

Character: MODIFIER LETTER CIRCUMFLEX ACCENT
Appearances: 1

Character: RING ABOVE
Appearances: 27

Character: COMBINING ACUTE ACCENT
Appearances: 4

Character: COMBINING RING ABOVE
Appearances: 1

Character: ZERO WIDTH SPACE
Appearances: 2

Character: HYPHEN
Appearances: 2

Character: NON-BREAKING HYPHEN
Appearances: 3

Character: EN DASH
Appearances: 2118

Character: EM DASH
Appearances: 419

Character: LEFT SINGLE QUOTATION MARK
Appearances: 2

Character: RIGHT SINGLE QUOTATION MARK
Appearances: 652

Character: SINGLE LOW-9 QUOTATION MARK
Appearances: 2

Character: LEFT DOUBLE QUOTATION MARK
Appearances: 46

Character: RIGHT DOUBLE QUOTATION MARK
Appearances: 69

Character: DOUBLE HIGH-REVERSED-9 QUOTATION MARK
Appearances: 1

Character: BULLET
Appearances: 20

Character: HORIZONTAL ELLIPSIS
Appearances: 3

Character: DOUBLE PRIME
Appearances: 1

Character: FRACTION SLASH
Appearances: 17

Character: VULGAR FRACTION ONE THIRD
Appearances: 22

Character: VULGAR FRACTION TWO THIRDS
Appearances: 6

Character: VULGAR FRACTION ONE EIGHTH
Appearances: 12

Character: VULGAR FRACTION THREE EIGHTHS
Appearances: 1

Character: MINUS SIGN
Appearances: 3

Character: LOZENGE
Appearances: 3

Character: LATIN SMALL LIGATURE FF
Appearances: 1

Character: LATIN SMALL LIGATURE FI
Appearances: 2

Character: LATIN SMALL LIGATURE FL
Appearances: 4

Character: REPLACEMENT CHARACTER
Appearances: 1

### Vectorization

In [ ]:
# Pass data from the dataframe to python dictionaries
titles_dict = info.set_index('Image_Name')['Title'].to_dict()
ingredients_dict = info.set_index('Image_Name')['Cleaned_Ingredients'].to_dict()
instructions_dict = info.set_index('Image_Name')['Instructions'].to_dict()

In [261]:
def train_val_test_split(data, train_ratio=0.8, val_ratio=0.1, test_ratio=0.1, seed=None, save=False, path=''):
    """
    Splits a dictionary into train, validation, and test sets.

    Args:
        data (dict): The dictionary to split.
        train_ratio (float): Proportion of data for the training set.
        val_ratio (float): Proportion of data for the validation set.
        test_ratio (float): Proportion of data for the test set.
        seed (int): Random seed for reproducibility.

    Returns:
        tuple: Three dictionaries (train_dict, val_dict, test_dict).
    """
    if seed is not None:
        random.seed(seed)
    
    # Ensure the ratios sum to 1
    assert abs(train_ratio + val_ratio + test_ratio - 1.0) < 1e-6, "Ratios must sum to 1."
    
    # Shuffle the keys
    keys = list(data.keys())
    random.shuffle(keys)
    
    # Calculate split indices
    total_items = len(keys)
    train_end = int(total_items * train_ratio)
    val_end = train_end + int(total_items * val_ratio)
    
    # Split keys
    train_keys = keys[:train_end]
    val_keys = keys[train_end:val_end]
    test_keys = keys[val_end:]
    
    # Create the dictionaries
    train_dict = {key: data[key] for key in train_keys}
    val_dict = {key: data[key] for key in val_keys}
    test_dict = {key: data[key] for key in test_keys}

    if save:
        # Save final datasets
        with open('train_set.pkl', 'wb') as f:
            pickle.dump(train_dict, f)
        with open('validation_set.pkl', 'wb') as f:
            pickle.dump(val_dict, f)
        with open('test_set.pkl', 'wb') as f:
            pickle.dump(test_dict, f)
    
    print("Original:", len(data.keys()))
    print("Train:", len(train_dict.keys()))
    print("Validation:", len(val_dict.keys()))
    print("Test:", len(test_dict.keys()))
    
    return train_dict, val_dict, test_dict

In [263]:
# Perform data split. 80-10-10 split size by deafult.
train_dict, val_dict, test_dict = train_val_test_split(titles_dict, seed=42, save=True)

Original: 12520
Train: 10016
Validation: 1252
Test: 1252